USE [AgriEcommerceDB]
GO
/****** Object:  Table [dbo].[ChuDeTinTuc]    Script Date: 3/12/2026 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDeTinTuc](
	[MaChuDe] [varchar](20) NOT NULL,
	[TenChuDe] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChuDe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 3/12/2026 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [varchar](20) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 3/12/2026 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [varchar](20) NOT NULL,
	[MaNguoiDung] [varchar](20) NULL,
	[TongTien] [decimal](18, 0) NULL,
	[DiaChiGiaoHang] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[DaDuyet] [bit] NULL,
	[NgayDat] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[DienThoai] [varchar](15) NULL,
	[GhiChu] [nvarchar](255) NULL,
	[HoTenNguoiNhan] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangChiTiet]    Script Date: 3/12/2026 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangChiTiet](
	[MaChiTiet] [varchar](20) NOT NULL,
	[MaDonHang] [varchar](20) NULL,
	[MaSanPham] [varchar](20) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonViTinh]    Script Date: 3/12/2026 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViTinh](
	[MaDonViTinh] [varchar](20) NOT NULL,
	[TenDonViTinh] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonViTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 3/12/2026 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGioHang] [varchar](20) NOT NULL,
	[MaNguoiDung] [varchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangChiTiet]    Script Date: 3/12/2026 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangChiTiet](
	[MaChiTiet] [varchar](20) NOT NULL,
	[MaGioHang] [varchar](20) NULL,
	[MaSanPham] [varchar](20) NULL,
	[SoLuong] [int] NULL,
	[Gia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 3/12/2026 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[DienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[MaVaiTro] [varchar](20) NOT NULL,
	[TrangThai] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 3/12/2026 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [varchar](20) NOT NULL,
	[TenSanPham] [nvarchar](150) NOT NULL,
	[Gia] [decimal](18, 0) NULL,
	[SoLuong] [int] NULL,
	[MaDonViTinh] [varchar](20) NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MaDanhMuc] [varchar](20) NULL,
	[MaNguoiTao] [varchar](20) NULL,
	[TrangThai] [bit] NULL,
	[ConHang] [bit] NULL,
	[DaDuyet] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 3/12/2026 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTinTuc] [varchar](20) NOT NULL,
	[TieuDe] [nvarchar](200) NOT NULL,
	[TomTat] [nvarchar](500) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MaChuDe] [varchar](20) NULL,
	[MaNguoiDung] [varchar](20) NULL,
	[TrangThai] [bit] NULL,
	[DaDuyet] [bit] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinTuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 3/12/2026 12:21:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[MaVaiTro] [varchar](20) NOT NULL,
	[TenVaiTro] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'DM01', N'Rau Củ Sạch', N'Các loại rau củ tươi được trồng theo tiêu chuẩn an toàn', NULL, CAST(N'2026-03-06T14:10:49.153' AS DateTime), CAST(N'2026-03-11T00:23:09.863' AS DateTime))
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'DM02', N'Trái Cây Tươi', N'Trái cây sạch được thu hoạch trong ngày', NULL, CAST(N'2026-03-06T14:10:49.153' AS DateTime), CAST(N'2026-03-10T16:05:41.910' AS DateTime))
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'DM03', N'Gạo & Ngũ Cốc', N'Các loại gạo và ngũ cốc giàu dinh dưỡng', NULL, CAST(N'2026-03-06T14:10:49.153' AS DateTime), CAST(N'2026-03-10T16:05:45.083' AS DateTime))
GO
INSERT [dbo].[DonHang] ([MaDonHang], [MaNguoiDung], [TongTien], [DiaChiGiaoHang], [TrangThai], [DaDuyet], [NgayDat], [NgayCapNhat], [DienThoai], [GhiChu], [HoTenNguoiNhan]) VALUES (N'270782a1ac564f7fab87', N'38a997c53a', CAST(20000 AS Decimal(18, 0)), N'Hà Nội', N'ChoXuLy', 0, CAST(N'2026-03-11T00:35:16.580' AS DateTime), CAST(N'2026-03-11T00:35:16.580' AS DateTime), N'0966742885', N'Giao tận cửa', N'Nguyễn Thế Anh')
INSERT [dbo].[DonHang] ([MaDonHang], [MaNguoiDung], [TongTien], [DiaChiGiaoHang], [TrangThai], [DaDuyet], [NgayDat], [NgayCapNhat], [DienThoai], [GhiChu], [HoTenNguoiNhan]) VALUES (N'4177d9a5a022487a86ce', N'ND01', CAST(300000 AS Decimal(18, 0)), N'Hà Nội', N'DangGiao', 1, CAST(N'2026-03-08T22:21:00.883' AS DateTime), CAST(N'2026-03-10T23:58:59.083' AS DateTime), N'0966742885', N'', N'Nguyễn Thế Anh')
INSERT [dbo].[DonHang] ([MaDonHang], [MaNguoiDung], [TongTien], [DiaChiGiaoHang], [TrangThai], [DaDuyet], [NgayDat], [NgayCapNhat], [DienThoai], [GhiChu], [HoTenNguoiNhan]) VALUES (N'597f6f153efc4273aa7e', N'38a997c53a', CAST(264000 AS Decimal(18, 0)), N'Hà Nội', N'ChoXuLy', 0, CAST(N'2026-03-11T15:23:05.683' AS DateTime), CAST(N'2026-03-11T15:23:05.683' AS DateTime), N'0966742885', N'Giao tận cửa', N'Nguyễn Thế Anh')
GO
INSERT [dbo].[DonHangChiTiet] ([MaChiTiet], [MaDonHang], [MaSanPham], [SoLuong], [DonGia]) VALUES (N'3fd4fecc232b45cd8beb', N'597f6f153efc4273aa7e', N'SP02', 3, CAST(20000 AS Decimal(18, 0)))
INSERT [dbo].[DonHangChiTiet] ([MaChiTiet], [MaDonHang], [MaSanPham], [SoLuong], [DonGia]) VALUES (N'7af1ae1f1d944b68b38d', N'e82409b078214dd88b3e', N'SP01', 9, CAST(25000 AS Decimal(18, 0)))
INSERT [dbo].[DonHangChiTiet] ([MaChiTiet], [MaDonHang], [MaSanPham], [SoLuong], [DonGia]) VALUES (N'83c877e8da544a18a253', N'597f6f153efc4273aa7e', N'SP04', 4, CAST(30000 AS Decimal(18, 0)))
GO
INSERT [dbo].[DonViTinh] ([MaDonViTinh], [TenDonViTinh], [MoTa]) VALUES (N'DVT01', N'Kg', N'Kilogram')
INSERT [dbo].[DonViTinh] ([MaDonViTinh], [TenDonViTinh], [MoTa]) VALUES (N'DVT02', N'Hộp', N'Đóng hộp')
INSERT [dbo].[DonViTinh] ([MaDonViTinh], [TenDonViTinh], [MoTa]) VALUES (N'DVT03', N'Bó', N'Bó rau')
GO
INSERT [dbo].[GioHang] ([MaGioHang], [MaNguoiDung], [NgayTao], [NgayCapNhat]) VALUES (N'51c09e258ccb4677a50f', N'ND01', CAST(N'2026-03-03T21:59:12.027' AS DateTime), CAST(N'2026-03-10T16:45:24.207' AS DateTime))
INSERT [dbo].[GioHang] ([MaGioHang], [MaNguoiDung], [NgayTao], [NgayCapNhat]) VALUES (N'a2c7d02c2cbe4854bc43', N'38a997c53a', CAST(N'2026-03-11T00:34:53.523' AS DateTime), CAST(N'2026-03-11T15:22:02.747' AS DateTime))
GO
INSERT [dbo].[GioHangChiTiet] ([MaChiTiet], [MaGioHang], [MaSanPham], [SoLuong], [Gia]) VALUES (N'3bb54c996cfc46cfacd2', N'51c09e258ccb4677a50f', N'SP02', 20, CAST(20000 AS Decimal(18, 0)))
GO
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [Email], [MatKhau], [DienThoai], [DiaChi], [MaVaiTro], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'38a997c53a', N'Nguyễn Thế Anh', N'nta@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0966807411', N'Bắc Giang', N'VT02', NULL, CAST(N'2026-03-11T00:34:25.970' AS DateTime), NULL)
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [HoTen], [Email], [MatKhau], [DienThoai], [DiaChi], [MaVaiTro], [TrangThai], [NgayTao], [NgayCapNhat]) VALUES (N'ND01', N'Quản trị viên', N'admin@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'0988888888', N'Hà Nội', N'VT01', NULL, NULL, CAST(N'2026-03-10T16:17:39.247' AS DateTime))
GO
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [Gia], [SoLuong], [MaDonViTinh], [MoTa], [HinhAnh], [MaDanhMuc], [MaNguoiTao], [TrangThai], [ConHang], [DaDuyet], [NgayTao], [NgayCapNhat]) VALUES (N'SP01', N'Cà Rốt Đà Lạt', CAST(25000 AS Decimal(18, 0)), 0, N'DVT01', N'Cà rốt tươi được thu hoạch trong ngày, vị ngọt tự nhiên.', N'images.jpg', N'DM01', NULL, NULL, NULL, NULL, CAST(N'2026-03-06T14:10:49.153' AS DateTime), CAST(N'2026-03-11T00:23:04.537' AS DateTime))
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [Gia], [SoLuong], [MaDonViTinh], [MoTa], [HinhAnh], [MaDanhMuc], [MaNguoiTao], [TrangThai], [ConHang], [DaDuyet], [NgayTao], [NgayCapNhat]) VALUES (N'SP02', N'Cải Ngọt Sạch', CAST(20000 AS Decimal(18, 0)), 102, N'DVT03', N'Cải ngọt trồng theo quy trình an toàn, lá xanh non và rất tươi.', N'cai-ngot-min.jpg', N'DM01', NULL, NULL, NULL, NULL, CAST(N'2026-03-06T14:10:49.153' AS DateTime), CAST(N'2026-03-06T14:20:07.870' AS DateTime))
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [Gia], [SoLuong], [MaDonViTinh], [MoTa], [HinhAnh], [MaDanhMuc], [MaNguoiTao], [TrangThai], [ConHang], [DaDuyet], [NgayTao], [NgayCapNhat]) VALUES (N'SP03', N'Bí Đỏ Hồ Lô', CAST(28000 AS Decimal(18, 0)), 77, N'DVT01', N'Bí đỏ hồ lô có thịt dày, vị bùi ngọt và nhiều dưỡng chất.', N'bido.jpg', N'DM01', NULL, NULL, NULL, NULL, CAST(N'2026-03-06T14:10:49.153' AS DateTime), CAST(N'2026-03-06T14:20:18.300' AS DateTime))
GO
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (N'VT01', N'Admin', N'Quản trị hệ thống')
INSERT [dbo].[VaiTro] ([MaVaiTro], [TenVaiTro], [MoTa]) VALUES (N'VT02', N'Khách hàng', N'Khách hàng mua sản phẩm')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GioHang__C539D7630881C89A]    Script Date: 3/12/2026 12:21:09 PM ******/
ALTER TABLE [dbo].[GioHang] ADD UNIQUE NONCLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D10534A07F6814]    Script Date: 3/12/2026 12:21:09 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChuDeTinTuc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [DaDuyet]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [ConHang]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [DaDuyet]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[TinTuc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TinTuc] ADD  DEFAULT ((0)) FOR [DaDuyet]
GO
ALTER TABLE [dbo].[TinTuc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_NguoiDung]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DHCT_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_DHCT_DonHang]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DHCT_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_DHCT_SanPham]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_NguoiDung]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GHCT_GioHang] FOREIGN KEY([MaGioHang])
REFERENCES [dbo].[GioHang] ([MaGioHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GHCT_GioHang]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GHCT_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GHCT_SanPham]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_VaiTro] FOREIGN KEY([MaVaiTro])
REFERENCES [dbo].[VaiTro] ([MaVaiTro])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_VaiTro]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DonViTinh] FOREIGN KEY([MaDonViTinh])
REFERENCES [dbo].[DonViTinh] ([MaDonViTinh])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DonViTinh]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NguoiDung] FOREIGN KEY([MaNguoiTao])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NguoiDung]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_ChuDe] FOREIGN KEY([MaChuDe])
REFERENCES [dbo].[ChuDeTinTuc] ([MaChuDe])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_ChuDe]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_NguoiDung]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD CHECK  (([TrangThai]=N'Huy' OR [TrangThai]=N'HoanThanh' OR [TrangThai]=N'DangGiao' OR [TrangThai]=N'ChoXuLy'))
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD CHECK  (([Gia]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([Gia]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
